bittorrent/bin/*
.idea
.DS_Store
bin/
out/
*.iml
.classpath
.project
.settings
bittorrent/tr.xml
bittorrent/*.log
bittorrent/*.log.*
bittorrent/*.jar
bittorrent/ReadMe.txt
*.rar
bittorrent/*.classpath

